
/* Styles pour le formulaire de connexion */
.login {
    width: 360px;
    background: #ffd52b; /* Fond jaune */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Ombre légère */
    text-align: center;
}

.login h2 {
    text-align: center;
    color: #333; /* Couleur de titre légèrement plus foncée */
}

/* Styles pour les champs de formulaire */
form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 5px;
    color: #333; /* Texte en noir */
}

/* Styles pour les champs de formulaire */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px; /* Augmenté à 15px pour plus d'espace */
    border: 1px solid #333;
    border-radius: 5px;
    color: #ffd52b; /* Texte en noir */
    font-size: 16px;
}

/* Styles pour la liste de suggestions */
#email-suggestions {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond semi-transparente */
    border: 1px solid #ccc;
    top: 410px; /* Ajustez la position verticale en pixels */
    left: 200px; /* Ajustez la position horizontale en pixels */
    width: 200px;
    max-height: 110px;
    overflow-y: auto;
    display: none; /* Masquez-le par défaut */
}

#email-suggestions div {
    padding: 3px;
    cursor: pointer;
}

#email-suggestions div:hover {
    background-color: #00FF00; /* Vert au survol */
}

input[type="submit"] {
    background: #333; /* Bouton noir */
    color: #ffd52b; /* Texte jaune à l'intérieur du bouton */
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px; /* Augmentation de la taille de la police du bouton */
}

input[type="submit"]:hover {
    background: #333; /* Couleur de bouton au survol */
}

/* Styles pour les liens */
.login p a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none;
    margin-left: 5px;
}

.login p a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
}

/* Styles pour les phrases en noir */
.black-text {
    color: black; /* Texte en noir */
}

/* Styles pour le texte "Join Woap !" */
h4 {
    text-align: center;
    color: #000; /* Texte en noir */
}
