/* Réinitialisation des styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styles pour le conteneur principal */
.container {
    background: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* Position relative pour le .container */
}

/* Styles pour l'en-tête */
.header {
    background: #1e1e1e;
    text-align: center;
    padding: 20px;
    position: relative; /* Position relative pour le .header */
}

/* Styles pour l'image du logo */
.logo {
    position: absolute; /* Position absolue par rapport au .container */
    top: 100px; /* Ajustez la position verticale en pixels */
    left: 200px; /* Ajustez la position horizontale en pixels */
    width: 60px; /* Réglez la largeur de l'image */
    z-index: 1; /* Assurez-vous que l'image est au-dessus du contenu */
}
.header h1 {
    font-size: 24px;
    margin: 0;
}

.header .highlight-text {
    color: #ffd52b; /* Texte "Wapp" en jaune */
    font-size: 36px; /* Augmentation de la taille du texte "Wapp" */
}

.header p {
    color: white; /* Texte blanc */
    font-size: 16px;
    margin: 10px 0;
}
